@model Domain.DTOs.Student.StudentInput


<div class="row justify-content-center ">

    <form class="row col-11 d-flex justify-content-around mt-3" action="/Home/Create" method="post" style="background-color:white" enctype="multipart/form-data">
        <div class="col-md-5">
            <h3>Nuevo estudiante</h3>

            <label class="label_text openSans" asp-for="FirstName"></label>
            <div class="input-group mb-2">
                <div class="col-12 px-0">
                    <input type="text" class="form-control" asp-for="FirstName" value="@Model?.FirstName" maxlength="30">
                </div>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <label class="label_text openSans" asp-for="LastName"></label>
            <div class="input-group mb-2">
                <div class="col-12 px-0">
                    <input type="text" class="form-control" asp-for="LastName" value="@Model?.LastName" maxlength="30">
                </div>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <label class="label_text openSans" asp-for="MiddleName"></label>
            <div class="input-group mb-2">
                <div class="col-12 px-0">
                    <input type="text" class="form-control" asp-for="MiddleName" value="@Model?.MiddleName" maxlength="30">
                </div>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <label class="label_text openSans mt-3">Género</label>
                    @Html.DropDownList("Gender", ViewBag.Genders as SelectList, "-- Género --", new { @class = "form-control" })
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <div class="input-group mb-2 d-flex  justify-content-end ">
                <a href="/Home/Index" class="btn openSans mr-2" style="background-color: #F5718A; color:white; width:150px;">Cancelar</a>
                <button type="submit" value="submit request" class="btn openSans" style=" background-color: #76B043; color: white; width:150px;  ">Crear</button>
            </div>
        </div>

        <div class="col-md-5 ">


           
        </div>
        <div class="input-group mb-1">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        </div>
    </form>
</div>
